body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
}
.about {
    display: flex;
}
.container {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    flex-direction: column;
    padding: 32px;
}
.signbutton {
    color: white;
    border-color: white;
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
}

.header {
    color: #F9FAF8;
    font-weight:bold;
    font-size: 48px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size: 24px;
    color: #1F2937;
    background-color: white;
}
.information {
    color: #1F2937;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.quotecont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    height: 250px;
}
.quote {
    display: flex;
    flex:1;
    justify-content: space-between;
    font-size: 25px;
    color: #1F2937;
    background-color: #E5E7EB;
}
.author {
    display: flex;
    justify-content: end;
    font-weight: bold;
}
.signup {
    background-color: white;
    padding: 16px;
}
.signupblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3882F6;
    width: auto;
    height: 100px;
    border-radius: 5px; 
    margin: 100px;
}
.signcont {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
.stext {
    flex-direction: column;
    padding: 32px;
    font-weight: bold;
    display: flex;    
    justify-content: space-between;
}
.btext {
    font-weight: 200;
}
.footer { 
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 250px;
    height: 250px;
}

ul {
    list-style: none;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-weight: 100;
}

a {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
